MONGO_URI=mongodb://localhost:27017/
REDIS_HOST=localhost
REDIS_PORT=6379
CHROMA_PATH=./chroma_db
OLLAMA_URL=http://localhost:11434/api/generate
GROQ_API_KEY=your_key_here
TESSERACT_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe
